.hero1 {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/chair.png');
    background-size: cover;
}

.hero1::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.863);
}

/* h1 {
    position: relative;
} */


/* 
.colors{
    
    primary: #0FCFEC,
    secondary: #19D3AE,
    accent: #3A4256,
    neutral: #3d4451,
    base-100: #ffffff,
} */